html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: whitesmoke;
}


@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@200&family=Ephesis&family=Roboto&display=swap');

.navbar{
    grid-area: header;
    background-color: #404253;
    /* display: flex;
    flex-direction: row wrap;
    justify-content: space-evenly; */
}

/* .nav-items{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
} */
/* .nav-items li{
    display: inline-block;
    align-items: flex-end;
    margin: 2em 2em 2em 2em;
} */

/* .nav-item li a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
    height: 100%;
}
.nav-items li a.active-page{
    background-color: #71D9D0;
    color: #404253;
}

.nav-links:hover a{
    color: #404253;
}

.nav-links{
    color: whitesmoke;
    transition: 0.2s;
}
.nav-links:hover{
    cursor: pointer;
    background-color: #71D9D0;
    color: #404253;
} */

.footer-box{
    grid-area: footer;
    height: 100%;
    width: 100%;
    background-color: #404253;
    color: #63A1F2;
}




.heading-content{
    text-align: center;
    font-size: 2.5em;
    color: #71D9D0;
    text-shadow: 2px 2px 5px#000;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: lighter;
}

.sub-heading{
    text-align: center;
    font-size: 1.8em;
    color: #404253;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: lighter;
    margin-top: 2em;
    margin-bottom: 1em;
}

.description{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 1.7em;
    font-size: 1em;
    text-align: center;
    color: #404253;
    letter-spacing: 0.1em;
    margin: 0.2em 0 0.2em 0;
}

.card-description{
    font-family: 'Encode Sans Condensed', sans-serif;
    margin-top: 0.2em;
    font-size: x-large;
    color: #FFF;
} 
@media only screen and (max-width: 600px) {
    .navbar{
        grid-area: header;
        background-color: #404253;
        /* display: flex;
        flex-direction: column wrap;
        justify-content: center; */
    }

    .heading-content{
        font-size: 1.9em;
    }


    .description{
        font-size: 1em;
    }
}