html, body{
    height: 100vh;
    margin: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100&family=Ephesis&family=Roboto&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Italiana&family=Lato&family=Roboto&display=swap'); */

.navbar{
    grid-area: header;
    background-color: #404253;
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
}

/* .content-box{
    grid-area: content;
    background: whitesmoke;
} */
.footer-box{
    grid-area: footer;
    background-color: #404253;
    color: #63A1F2;

}

.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-items li{
    display: inline-block;
    margin: 0 2em 0 2em;
}

.nav-items li a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
}
.nav-items li a.active-page{
    background-color: #59AAA3;
    color: #231F20;
}

.nav-links{
    /* align-self: flex-end; */
    color: whitesmoke;
    transition: 0.2s;
}
.nav-links:hover{
    cursor: pointer;
    /* transition-delay: 0.2s; */
    /* background-color:#88A5BF; */
    background-color: #59AAA3;
    color: #231F20;
}
